{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <script
    defer
    src="https://umami.frytea.com/script.js"
    data-website-id="f1dc3cea-d497-49d1-bf7a-f10e8f5390f0"
    data-domains="prmbr.com,docs.prmbr.com"
  ></script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "t84clqb3fx");
</script>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7296634171837358"
    crossorigin="anonymous"
  ></script>
{% endblock %}

